.mat-card {
    width: 130px;
    min-width: 100px;
    margin: 10px;
    height: auto;
    background-color: rgb(231, 156, 143);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
}

.imgPokemon {
    width: 100%;
    height: 200px;
    background-color: rgb(83, 79, 79);
    background-size: cover;
    background-position: center;
}

.namePokemon {
    border-radius: 25px;
    color: white;
    background-color: tomato;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-weight: 500;
    text-transform: capitalize;
}

p {
    font-weight: bold;
    color: rgb(158, 155, 155);
    font-size: 15px;
    margin-left: 50px;
}

.mat-form-field {
    margin-left: 50px;
    width: 92%;
}

@media only screen and (max-width: 600px) {
    .mat-form-field {
        margin-left: 50px;
        width: 80%;
    }
}